*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  /* 1rem = 10px */
}
body{
  background-color: var(--bg-color);
}

:root{
  --bg-color:#34353A;
  --white-color:#F9F9F9;
  --primary-color:#FFCB6D;
}
h1,
h2,
h3,
h4,h5,h6{
  font-family: "Poppins", sans-serif;
}
p,
li,
a,
label,
input{
  font-family: "Outfit", sans-serif;

}
a{
  text-decoration: none;
}
li{
  list-style: none;
}

img{
  width: 100%;

}

section{
  scroll-snap-align: center;
}
.container{
  max-width: 142rem;
  margin: 0 auto;
  padding: 9.6rem 2.4rem;

}
.grid{
  display: grid;
}
.grid_two_col{
  grid-template-columns: repeat(2, 1fr);
}
.grid_three_col{
  grid-template-columns: repeat(3, 1fr);
}
.grid__four__col{
  grid-template-columns: repeat(4, 1fr);
}
.common__heading{
  color: var(--white-color);
  font-size: 5.5rem;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 2.5rem;
}
.common__description{
  color: var(--white-color);
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
}
.primary__color{
  color: var(--primary-color);
}
.t_ac{
  text-align: center;
}
.common__sub_tittle{
  color: var(--white-color);
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 500;
}



/******** Header Nav section Start css  ********/

.header__section__main{
  width: 100%;
}
.header__section__main .container {
  /* height: 80px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 2.4rem;
}

.nav__menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

 & li a{
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.5rem;
  padding: 0px 10px;
  color: #AAAAAB;
  transition: all .5s linear;
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;

&:hover{
  color: var(--white-color);
  transition: all .5s linear;
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;
}}}
.nav__search{
  display: flex;
  align-items: center;
  & input{
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;
  padding: 1.5rem 1rem;
  background-color: #494b50;
  border: none;
  border-radius: .8rem;
  -webkit-border-radius: .8rem;
  -moz-border-radius: .8rem;
  -ms-border-radius: .8rem;
  -o-border-radius: .8rem;
  color: var(--white-color);
}
& i{
  font-size: 2.7rem;
  color: #AAAAAB;
  /* margin-top: 1rem; */
  margin-left: -4rem;
  /* margin-bottom: -2rem; */
}
}
/******** Header Nav section End css  ********/

/******** Hero Section css Start  ********/
.hero__section  .container{
  padding-top: 2rem;
  padding-bottom: 0px;
}
.hero__section .grid{
  align-items: center;
  gap: 4rem;
  & .hero__sub_tittle{
    font-family: "Outfit", sans-serif;
    color: var(--primary-color);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.4;
  }
  & .hero__heading{
    font-size: 5.8rem;
    line-height: 1.5;
    font-weight: 700;
    color: var(--white-color);
    & .dev__name{
      color: var(--primary-color);
      font-family: "Outfit",sans-serif;
    }
  }
  & .hero__description{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.3;
    color: var(--white-color);
    margin: 2rem 0 4rem 0;
  }
  & .contact__button{
    color: var(--primary-color);
    font-family: "Outfit", sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    font-weight: 600;
    cursor: pointer;
    background: transparent;
    padding: 1.5rem 5rem;
    border: 0.4rem solid var(--primary-color);
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    &:hover{
      background-color: var(--primary-color);
      color: var(--bg-color);
    }
    
}
& .hero__image img{
  width: 100%;
}
}
/******** Hero Section css End ********/


/******** About Section css Start  ********/
.about__section .container .about__content{
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 1rem;
}
.about__line{
  margin-top: 1.5rem;
  width: 10rem;
  border-top: .4rem solid var(--primary-color);
}
/******** About Section css End ********/
/******** Skill Section css Start ********/
.skill__all_box .grid .grid__four__col{
  grid-gap: 3rem;
}
.skill__section .skill__all_box .skill__box{
  height: 30rem;
  grid-gap: 5rem;
  background-color: #3D3E42;
  box-shadow: 10px 10px 10px var(--bg-color);
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: .3s all linear;
  -webkit-transition: .3s all linear;
  -moz-transition: .3s all linear;
  -ms-transition: .3s all linear;
  -o-transition: .3s all linear;
  &:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
  }
}
.skill__section .grid .skill__box img{
  width: 40%;
}


/******** Skill Section css Emd ********/
/******** Portfolio Section css Start ********/
.portfolio__image.grid.grid_three_col {
  grid-gap: 3rem;
}
.portfolio__image.grid.grid_three_col img{
  width: 100%;
  border: .5rem solid var(--primary-color);
  border-radius: .8rem;
  -webkit-border-radius: .8rem;
  -moz-border-radius: .8rem;
  -ms-border-radius: .8rem;
  -o-border-radius: .8rem;
}
.view__more button{
    color: var(--bg-color);
    font-family: "Outfit", sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    font-weight: 600;
    cursor: pointer;
    background: var(--primary-color);
    padding: 1.5rem 5rem;
    border: 0.4rem solid var(--primary-color);
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
    margin-top: 5rem;
    &:hover{
      background-color: transparent;
      color: var(--white-color);
    }
}
.view__more{
  text-align: center;
}

/******** Portfolio Section css End ********/
/******** Experience Section css Start ********/

.experience__section{
  background-color: #3D3E42;
}
.experience__section .container{
  padding-top: 0rem;
}
.experience__section .container h2{
  padding-bottom: 5rem;
}
.frontend__exp .grid{
  grid-template-columns: 15rem 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 3rem;
  padding-left: 15rem;
  padding-right: 15rem;
}
.date__dot .fonten__dat{
  background-color: #5C5D60;
  width: 12rem;
  height: 5.8rem;
  font-family: "Outfit", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  /*box-shadow: 10px 10px 20px var(--bg-color);
  */z-index: 999;
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 15px 5px 10px;
}
.date__box{
  margin-right: 2rem;
}
.frontend__content {
  margin-top: -.5rem;
}
.frontend__content .fonten__head{
  color: var(--white-color);
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  margin-left: 5rem;

}
.frontend__content .fonten__des{
  color: var(--white-color);
  font-size: 1.8rem;
  line-height: 1.3;
  padding-top: 1rem;
  border-left: .2rem solid var(--white-color); 
  padding-left: 5rem;

}


/******** Experience Section css End ********/
/******** Testimonial Section css Start ********/
.testimonial__section .container .testimonial__content{
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 1rem;
}
.testimonial__line{
  margin-top: 1.5rem;
  width: 10rem;
  border-top: .4rem solid var(--primary-color);
}
.client__name{
  font-size: 2rem;
  margin-left: 11rem;
  margin-top: 3rem;
}
.client__position{
  margin-left: 11.5rem;
}
.client__image{
  width: 60%;
  justify-self: end;
  filter: drop-shadow(10px 10px 20px var(--primary-color));
  -webkit-filter: drop-shadow(2px 10px 20px var(--primary-color));
}
.testimonial__section .container .grid{
  align-items: center;
  gap: 4rem;
}

/******** Testimonial Section css End ********/
/******** Contact Section css Start ********/

.contact__section{
  background-color: #3D3E42;
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}
:is(
  .email__box,
  .number__box,
  .locatin__box
)
i{
  font-size: 3rem;
  color: var(--white-color);
}
:is(
  .email__box,
  .number__box,
  .locatin__box
)
h5{
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 500;
}
.email__box,
.number__box,
.locatin__box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--bg-color);
  padding: 2rem 3rem;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
  width: 35rem;
}
.contact__box1,
.contact__box2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.contact__box2{
  margin-top: 3rem;
}

/******** Contact Section css End ********/
/*** media queries Section ***/
@media (width <= 1400px){
  html{
    font-size: 56.25%;
    /* 1rem=9px; */
  }
}
@media (width <= 1220px){
  html{
    font-size: 56%;
    /* 1rem = 9px; */
  }
  .hero__image img{
    width: 90%;
  }
  .hero__section .grid{
    gap: 2rem;}
}
@media (width <= 1100px){
  .hero__section .grid{
    gap: .5rem;}
}
.skill__all_box.grid.grid__four__col{
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 3rem;
}

@media (width <= 998px){
  .hero__section{
    height: auto;
    padding-bottom: 5rem;
    & .grid_two_col{
      grid-template-columns:1fr;
    
    & .hero__content{
      order: 2;
    }
    & .hero__image{
      order: 1;
      text-align: center;
      & img{
        width: 60%;
      }
    }
  }
}
.common__description{
  color: var(--white-color);
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3;
}
.testimonial__area.grid.grid_two_col {
  grid-template-columns: 1fr;
  & .client__image{
    order: 1;
    justify-self: center;
    width: 40%;
    filter: drop-shadow(0px 5px 8px var(--primary-color));
    -webkit-filter: drop-shadow(0px 5px 8px var(--primary-color));
}
  & .client__says{
    order: 2;
  }
}
.frontend__exp .grid{
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.date__box{
  margin-right: 0rem;
}
.experience__section .container{
  padding: 6.4rem 2.4rem;
}

}
@media (width <= 768px){
  .container{
    padding: 6.4rem 2.4rem 2.4rem 2.4rem;
  }
  .header__section__main .container{
    display: flex;
    flex-direction: column;
  }
  & .nav__menu ul{
    gap: 2.4rem;
    margin-bottom: 2rem;
  }
  .hero__section .grid .hero__heading{
    font-size: 3.8rem;
  }
  .hero__section .grid .hero__description{
    font-size: 1.8rem;
  }
  .section-hero .grid .contact__button {
    font-size: 2rem;
    padding: 1rem 1.5rem;
  }
  .about__section .container .about__content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .skill__section .grid .skill__box img{
    width: 30%;
  }
  .portfolio__image.grid.grid_three_col {
    /* grid-gap: 3rem; */
    grid-template-columns: 1fr;
  }
  .testimonial__section .container .testimonial__content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .client__name{
    margin-left: 0rem;
  }
  .client__position{
    margin-left: 0rem;
  }
  .date__dot .fonten__dat{
    background-color: #5C5D60;
    width: 100%;
  }
  .frontend__content .fonten__head{
    font-size: 3rem;
    line-height: 1.2;
    margin-left: 2rem;
  
  }
  .frontend__content .fonten__des{
    line-height: 1.2;
    padding-left: 2rem;
  
  }
  .contact__box1,
  .contact__box2{
  flex-direction: column;
  }
  
}

